@keyframes blobbing {
    0% {
        border-radius: var(--radius-blob-1);
    }
    33% {
        border-radius: var(--radius-blob-2);
    }
    66% {
        border-radius: var(--radius-blob-3);
    }
}
