@import "open-props/style";
@import "./theme.css";
@import "./utils.css";

*:focus-visible {
  outline-offset: 10px;
}

html,
body {
  margin: 0;
  border: 0;
}

html {
  --footer-height: var(--size-13);
  background: var(--gradient);
  background-size: 100% var(--footer-height);
  background-position: bottom;
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: var(--font-size-fluid-00);
}

body {
  background: var(--bg-color);
}

section,
.section {
  max-inline-size: var(--size-content-3);
  padding: var(--size-3) var(--size-fluid-3);
  margin: 0 auto;
}

h1 {
  font-size: var(--font-size-5);
}

h2 {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-5);
}

h3 {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-6);
}

h4 {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-5);
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  line-height: var(--font-lineheight-4);
}

.card {
  background-image: var(--gradient);
  border-radius: var(--radius-3);
  margin-top: var(--size-7);
  padding: var(--size-5) var(--size-7);
}

.card > h3 {
  margin-top: 0;
}

.card > p {
  margin-bottom: 0;
}
