html {
  color-scheme: light;
  --bg-color: var(--gray-0);
  --bg-color-dark: var(--gray-2);
  --text-color: var(--gray-9);
  --border-color: var(--gray-9);
  --gradient: linear-gradient(
    to bottom right,
    hsl(228, 78%, 92%),
    hsl(0, 76%, 92%),
    hsl(48, 72%, 91%)
  );
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    --bg-color: var(--gray-11);
    --bg-color-dark: var(--gray-8);
    --text-color: var(--gray-1);
    --border-color: var(--gray-1);
    --gradient: linear-gradient(
      to bottom right,
      hsl(31, 40%, 21%),
      hsl(321, 45%, 19%),
      hsl(289, 40%, 19%)
    );
  }
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }

  html {
    --gradient: none;
    --shadow-1: none;
    --shadow-2: none;
    --shadow-3: none;
  }
}
