html {
  color-scheme: light;
  --bg-color: var(--gray-0);
  --bg-color-dark: var(--gray-2);
  --text-color: var(--gray-9);
  --border-color: var(--gray-4);
  --gradient: var(--gradient-15);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    --bg-color: var(--gray-11);
    --bg-color-dark: var(--gray-8);
    --text-color: var(--gray-1);
    --border-color: var(--gray-7);
    --gradient: linear-gradient(to bottom right, #0c1c62 0%, #e850b7 100%);
  }
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }

  html {
    --gradient: none;
    --shadow-1: none;
    --shadow-2: none;
    --shadow-3: none;
  }
}
