.nowrap {
  white-space: nowrap;
}

.d-flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.relative {
  position: relative;
}

@property --p {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
