.uppercase {
  text-transform: uppercase;
  letter-spacing: var(--font-letterspacing-4);
}

.m-b-0 {
  margin-bottom: 0;
}

.gradient-text {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
