---
import BackendTechnologies from "../components/BackendTechnologies.astro";
import Footer from "../components/Footer.astro";
import FrontendTechnologies from "../components/FrontendTechnologies.astro";
import Header from "../components/Header.astro";
import Showcase from "../components/Showcase.astro";
import StudiesTimeline from "../components/StudiesTimeline.astro";
import WorkTimeline from "../components/WorkTimeline.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/index.css";
---

<BaseLayout>
  <Header />
  <main class="content bg-noise">
    <section class="resume-skills">
      <h2>Technologies I like to work with</h2>
      <div class="grid">
        <FrontendTechnologies />
        <BackendTechnologies />
      </div>
    </section>

    <section class="resume-work">
      <h2>Places I've worked at</h2>
      <WorkTimeline />
    </section>
    <section class="resume-studies">
      <h2>Schools I've studied at</h2>
      <StudiesTimeline />
    </section>
    <section class="resume-showcase no-print">
      <h2>Some snippets of code</h2>
      <Showcase />
    </section>
  </main>
  <Footer />
</BaseLayout>

<style>
  .content {
    position: relative;
    padding-bottom: var(--size-7);
    margin-bottom: var(--footer-height);
    background-color: var(--bg-color);
    box-shadow: var(--shadow-2);
    z-index: 1;
  }

  h2 {
    margin-bottom: var(--size-4);
  }
</style>
