---
import Basement from "./Basement.astro";
---

<style>
  html[data-lights="on"] footer {
    color: initial;
  }

  footer {
    box-sizing: border-box;
    width: 100%;
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    padding: var(--size-3);
    padding-top: 0;
    z-index: 0;
    color: var(--gray-1);
  }

  footer p {
    text-align: center;
  }

  .ceiling {
    padding: 0;
  }
</style>

<footer class="no-print">
  <section class="ceiling relative">
    <Basement />
  </section>
</footer>
