---
---

<style>
  footer {
    box-sizing: border-box;
    width: 100%;
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    padding: var(--size-3);
    z-index: 0;
  }

  footer p {
    text-align: center;
  }
</style>

<footer class="no-print">
  <section>
    <p>🙈 🙉 🙊</p>
  </section>
</footer>
