---

---

<style>
  header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 80px;
    justify-items: start;
    align-items: center;
    gap: var(--size-3);
    background-color: var(--bg-color);
    z-index: 1;
  }

  .resume-header-text {
    max-inline-size: var(--size-content-2);
  }

  .gravatar {
    width: 80px;
    aspect-ratio: 1 / 1;
    box-shadow: var(--shadow-4);
    border-radius: var(--radius-blob-1);
    will-change: border-radius;
    background-image: var(--noise), var(--gradient);
    background-position:
      0 0,
      0 0;
    background-size: 200px, auto;
    animation: blobbing 8s linear infinite;
  }

  @keyframes blobbing {
    0% {
      border-radius: var(--radius-blob-1);
    }
    33% {
      border-radius: var(--radius-blob-2);
    }
    66% {
      border-radius: var(--radius-blob-3);
    }
  }
</style>

<header class="section bg-noise">
  <div class="header-text">
    <h1>Bence Molnár</h1>
    <p>
      Full stack dev with a focus on web design, UX and microinteractions.
      Enterprise apps <b>can</b> look & feel nice!
    </p>
  </div>
  <img src="/avatar.png" alt="gravatar" class="gravatar border-blob-1" />
</header>
