---
---

<style>
  header {
    display: grid;
    grid-template-columns: 1fr 80px;
    justify-items: start;
    align-items: center;
    gap: var(--size-3);
    background-color: var(--bg-color);
  }

  .resume-header-text {
    max-inline-size: var(--size-content-2);
  }

  .gravatar {
    width: 80px;
    aspect-ratio: 1 / 1;
    box-shadow: var(--shadow-2);
    border-radius: var(--radius-blob-1);
    will-change: border-radius;
    animation: blobbing 8s linear infinite;
  }

  @keyframes blobbing {
    0% {
      border-radius: var(--radius-blob-1);
    }
    33% {
      border-radius: var(--radius-blob-2);
    }
    66% {
      border-radius: var(--radius-blob-3);
    }
  }
</style>

<header class="section">
  <div class="header-text">
    <h1>Bence Molnár</h1>
    <p>
      Full stack dev with an interest in web design, UX and microinteractions.
      Enterprise apps <b>can</b> look & feel nice!
    </p>
  </div>
  <img
    src="https://www.gravatar.com/avatar/d069f08d4ffdf24451b7a7b839e80a4f?s=160"
    alt="gravatar"
    class="gravatar border-blob-1"
  />
</header>
