---
import ShowcaseElement from "./ShowcaseElement.astro";
---

<style>
  .showcase-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--size-13), 1fr));
    justify-content: space-between;
    gap: var(--size-7);
  }
</style>

<div class="showcase-content">
  <ShowcaseElement
    title="Tábla - Kanban Boards"
    href="https://github.com/bencemol/tabla"
    videoSrc="./showcase/tabla.mp4"
  />
  <ShowcaseElement
    title="Chatbot splash screen"
    href="https://codesandbox.io/s/chatbot-splash-srfqg"
    videoSrc="./showcase/chatbot-splash.mp4"
  />
  <ShowcaseElement
    title="Card deletion"
    href="https://codesandbox.io/s/react-card-deletion-framer-motion-u26g34"
    videoSrc="./showcase/context-menu-confirmation.mp4"
  />
</div>
