---
import ArrowRight from "./icons/ArrowRight.astro";

interface Props {
  title: string;
  href: string;
  videoSrc: string;
}

const { title, href, videoSrc } = Astro.props;
---

<style>
  a {
    --duration: 200ms;
    display: block;
    overflow: hidden;
    border-radius: var(--border-radius);
    text-decoration: none;
  }

  video {
    aspect-ratio: var(--ratio-landscape);
    width: 100%;
    object-fit: cover;
    border-radius: var(--radius-3); /* safari */
    transition: transform var(--duration) var(--ease-elastic-4);
    will-change: transform;
  }

  :is(.card:hover, .card:focus-visible) video {
    transform: scale(1.03) translateY(-2px);
  }

  h5 {
    margin: var(--size-3) 0 0;
  }

  .arrow {
    margin-left: 0.5ch;
  }

  .arrow :global(.shaft) {
    stroke-dasharray: 14;
    stroke-dashoffset: 14;
    transition: stroke-dashoffset 0ms var(--ease-out-4);
  }

  .arrow :global(.head) {
    transform: translateX(-40%);
    transition: transform var(--duration) var(--ease-elastic-4);
  }

  :is(.card:hover, .card:focus-visible) .arrow :global(.shaft) {
    stroke-dashoffset: 0;
    transition-duration: var(--duration);
  }

  :is(.card:hover, .card:focus-visible) .arrow :global(.head) {
    transform: translateX(0);
  }
</style>

<a class="card" href={href} aria-label={title}>
  <h3>{title}</h3>
  <video autoplay muted loop>
    <source src={videoSrc} />
  </video>
  <h5>Checkout on CodeSandbox <ArrowRight class="arrow" /></h5>
</a>
