---
import ShowcaseElement from "./ShowcaseElement.astro";
---

<style>
  .grid *:first-child {
    grid-column: 1 / -1;
  }

  @media only screen and (min-width: 560px) {
    .grid *:first-child :global(video) {
      aspect-ratio: var(--ratio-widescreen);
    }
  }
</style>

<div class="grid">
  <div>
    <ShowcaseElement
      title="Tábla - Kanban Boards"
      href="https://github.com/bencemol/tabla"
      videoSrc="./showcase/tabla.mp4"
    />
  </div>
  <ShowcaseElement
    title="Chatbot splash screen"
    href="https://codesandbox.io/s/chatbot-splash-srfqg"
    videoSrc="./showcase/chatbot-splash.mp4"
  />
  <ShowcaseElement
    title="Card deletion"
    href="https://codesandbox.io/p/sandbox/f5gyx2"
    videoSrc="./showcase/context-menu-confirmation.mp4"
  />
</div>
