---
interface Props {
  title: string;
  href: string;
  videoSrc: string;
}

const { title, href, videoSrc } = Astro.props;
---

<style>
  a {
    display: block;
    overflow: hidden;
    border-radius: var(--border-radius);
    text-decoration: none;
  }

  video {
    aspect-ratio: var(--ratio-landscape);
    width: 100%;
    object-fit: cover;
    border-radius: var(--radius-3); /* safari */
    transition: transform 200ms var(--ease-elastic-4);
    will-change: transform;
  }

  .card:hover video {
    transform: scale(1.03) translateY(-2px);
  }
</style>

<a class="card" href={href} aria-label={title}>
  <h3>{title}</h3>
  <video autoplay muted loop>
    <source src={videoSrc} />
  </video>
</a>
