---
import ShowcaseElement from "./ShowcaseElement.astro";
import chatbotSplash from "../assets/chatbot-splash.webm";
import cardDeletion from "../assets/context-menu-confirmation.webm";
---

<style>
  .showcase-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--size-13), 1fr));
    justify-content: space-between;
    column-gap: var(--size-8);
    row-gap: var(--size-3);
  }
</style>

<div class="showcase-content">
  <ShowcaseElement
    title="Chatbot splash screen"
    href="https://codesandbox.io/s/chatbot-splash-srfqg"
    videoSrc={chatbotSplash}
  />
  <ShowcaseElement
    title="Card deletion"
    href="https://codesandbox.io/s/react-card-deletion-framer-motion-u26g34"
    videoSrc={cardDeletion}
  />
</div>
