---
import TimelineElement from "./TimelineElement.astro";
---

<TimelineElement
  title="Budapest University of Technology and Economics\nFaculty of Electrical Engineering and Informatics"
  timespan="2013 - 2017"
>
  <ul>
    <li>Electrical Engineering Faculty</li>
    <li>Java fatclients with JavaFx</li>
    <li>Inverse kinematics in C</li>
  </ul>
</TimelineElement>
