---
interface Props {
  title: string;
  technologies: Technology[];
}

export interface Technology {
  name: string;
  iconUrl: string;
}

const { title, technologies } = Astro.props;
---

<style>
  .technologies {
    column-count: 2;
    column-gap: var(--size-3);
    column-width: var(--size-12);
  }

  .technology {
    display: flex;
    align-items: center;
    height: var(--size-7);
    gap: var(--size-5);
    padding: var(--size-2) var(--size-3);
    border-radius: var(--radius-3);
  }

  .technology:not(:last-child) {
    margin-bottom: var(--size-1);
  }

  .technology:hover {
    background-color: var(--highlight-color);
  }

  .technology img {
    height: 100%;
    display: inline-block;
    aspect-ratio: 1/1;
    filter: brightness(0%);
  }

  @media (prefers-color-scheme: dark) {
    .technology img {
      filter: brightness(0%) invert(1);
    }
  }
</style>

<div class="card">
  <h3>{title}</h3>
  <ul class="technologies">
    {
      technologies.map((technology) => (
        <li class="technology">
          <img alt={`${technology.name} icon`} src={technology.iconUrl} />{" "}
          {technology.name}
        </li>
      ))
    }
  </ul>
</div>
