---
interface Props {
  title: string;
  timespan: string;
}

const { title, timespan } = Astro.props;
---

<style>
  .title {
    white-space: pre;
  }

  h3 + span {
    display: block;
    font-weight: var(--font-weight-5);
    margin-bottom: var(--size-3);
  }
</style>

<div class="card">
  <h3 class="title m-b-0">{title}</h3>
  <span>{timespan}</span>
  <slot />
</div>
