---
interface Props {
  title: string;
  timespan: string;
}

const { title, timespan } = Astro.props;
---

<style>
  .title {
    white-space: pre-wrap;
    margin-bottom: var(--size-1);
  }

  h3 + span {
    display: block;
    margin-bottom: var(--size-3);
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-6);
  }
</style>

<div class="card">
  <h3 class="title">{title}</h3>
  <span>{timespan}</span>
  <slot />
</div>
