---
import TimelineElement from "./TimelineElement.astro";
---

<TimelineElement title="Snapsoft" timespan="2022 -">
  <ul>
    <li>Enterprise SPAs</li>
    <li>Training UI for industrial robots</li>
  </ul>
</TimelineElement>
<TimelineElement title="Talk-A-Bot" timespan="2020 - 2022">
  <ul>
    <li>Management UI for chatbots and natural language processing</li>
  </ul>
</TimelineElement>
<TimelineElement title="Adnovum" timespan="2020">
  <ul>
    <li>Identity and authentication provider</li>
  </ul>
</TimelineElement>
<TimelineElement title="Deutsche Telekom IT Solutions" timespan="2016 - 2020">
  <ul>
    <li>Billing applications</li>
  </ul>
</TimelineElement>
