---
import TimelineElement from "./TimelineElement.astro";
---

<TimelineElement title="Snapsoft" timespan="2022 -">
  <ul>
    <li>Enterprise SPAs</li>
    <li>Training UI for industrial robots</li>
  </ul>
</TimelineElement>
<TimelineElement title="Talk-A-Bot" timespan="2020 - 2022">
  <p>Management UI for chatbots and natural language processing</p>
</TimelineElement>
<TimelineElement title="Adnovum" timespan="2020">
  <p>Identity and authentication provider</p>
</TimelineElement>
<TimelineElement title="Deutsche Telekom IT Solutions" timespan="2016 - 2020">
  <p>Billing applications</p>
</TimelineElement>
