---
import "@fontsource/inter/variable.css";
import inter from "@fontsource/inter/files/inter-latin-variable-wghtOnly-normal.woff2";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#fecaca" />
    <meta
      name="theme-color"
      content="#852b66"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="description" content="Molnár Bence Resume" />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <link
      rel="preload"
      as="font"
      crossorigin="anonymous"
      href={inter}
      type="font/woff2"
    />
    <title>Resume - Bence Molnár</title>
  </head>

  <body>
    <slot />
  </body>
</html>
